* { 
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    background-image: url("3d-tunnel-abstract-8k-ol.jpg");
    height: 100vh;
    align-items: center;
}

.container {
    background-color: #2b3433;
    height: 19rem;
    width: 50rem;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.heading-container {
    padding-top: 1rem;
    padding-left: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input {
    height: 2rem;
}

#message {
    height: 6rem;
}

.tos-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

div.name-email {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: row;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.submit-btn {
    background-color: aliceblue;
    border: solid;
    border-width: 0.1pt;
    height: 2rem;
    font-weight: bold;
    color: #2b3433;
    background-color: #d0dede;
}